body {
    background-color: #333333;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}
.squareRow {
    
    display: flex;
}
.white {
    background-color: #EEEEEE;
}
.black {
    background-color: #1A1A1A;
}

.square{
    width: 75px;
    height: 75px;
}

.piece{
    width: 100%;
}